@model IEnumerable<OdeToFood.Models.RestaturantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<form method="post">

    <input type="search" name="searchTerm"/>
    <input type="submit" value="Search by name" />
</form>

@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <div>@item.CountOfReviews</div>
        <hr />
    </div>
}
